
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="index.html">Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header custom_color">Dashboard <!-- <small>header small text goes here...</small> --></h1>
			<!-- end page-header -->
			  <hr/>
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-green">
						<div class="stats-icon"><i class="fa fa-user"></i></div>
						<div class="stats-info">
							<h4>TOTAL USERS</h4>
							<p>3,291,922</p>	
						</div>
						<div class="stats-link">
							<a href="user_management.html">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-user-plus"></i></div>
						<div class="stats-info">
							<h4>TOTAL PUBLISHER</h4>
							<p>20.44%</p>	
						</div>
						<div class="stats-link">
							<a href="publisher_management.html">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-3">
					<div class="widget widget-stats bg-purple">
						<div class="stats-icon"><i class="fa fa-video-camera"></i></div>
						<div class="stats-info">
							<h4>TOTAL VIDEOS UPLOADED</h4>
							<p>1,291,922</p>	
						</div>
						<div class="stats-link">
							<a href="uploaded_video_View_details.html">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				
				<div class="col-md-3 col-sm-3">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fa fa-download"></i></div>
							<div class="stats-info">
								<h4>TOTAL VIDEO DOWNLOADED</h4>
								<p>1,423,542</p>
							</div>
							<div class="stats-link">
							<a href="downloaded_video_View_details.html">View Details<i class="fa fa-arrow-circle-o-right"></i></a>
							</div>
					</div>
				</div>
				
			</div>
			
			<hr/>
			<!-- end row -->
			<!--panel for recently added videos starts-->
			<div class="panel panel-inverse clearfix" data-sortable-id="table-basic-5">
			<div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Recently Added Videos</h4>
                        </div>
			<!--Recently Added Videos-->
			<div class="row">
			<div id="gallery1" class="gallery">
                <div class="image gallery-group-1 pull-left">
                    <div class="image-inner">
                        <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
						
                        <!-- <p class="image-caption">
                            #1382 - 3D Arch
                        </p> -->
                    </div>
                    <div class="image-info">
                        <h5 class="title">Lorem ipsum dolor sit amet</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Sean Ngu</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Nunc velit urna, aliquam at interdum sit amet, lacinia sit amet ligula. Quisque et erat eros. Aenean auctor metus in tortor placerat, non luctus justo blandit.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-1 pull-left">
                    <div class="image-inner">
                       <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a>                     
                    </div>
                    <div class="image-info">
                        <h5 class="title">Fusce aliquet ac quam at tincidunt</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Camryn Wong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Fusce eu rutrum nisi, ut pretium mi. Sed mollis nisi sed auctor molestie. Vestibulum dictum pharetra leo sed euismod.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-1 pull-left">
                    <div class="image-inner">
                        <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Etiam lobortis egestas nisl</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Lelouch Wong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                        </div>
                        <div class="desc">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eget ultricies arcu.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-2 pull-left">
                    <div class="image-inner">
                        <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Donec mi quis volutpat ornare</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Richard Leong</a>
                        </div>
                        <div class="rating">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-2 pull-left">
                    <div class="image-inner">
                       <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Donec pretium volutpat ornare</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Derrick Wong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero, feugiat sapien consequat lacinia fringilla.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-3 pull-left">
                    <div class="image-inner">
                       <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Mi quis volutpat ornare sodales</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Apple Tong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Ut et augue luctus libero dignissim sodales. Fusce feugiat sapien consequat lacinia fringilla. Vivamus eget ultricies arcu.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-3 pull-left">
                    <div class="image-inner">
                        <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Vestibulum ante ipsum primis</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Thomas Wong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        <div class="desc">
                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
                        </div>
                    </div>
                </div>
                <div class="image gallery-group-4 pull-left">
                    <div class="image-inner">
                       <a href="//www.youtube.com/embed/ePbKGoIGAXY"" data-lightbox="gallery-group-1">
						 <video width="200" height="195" controls>							
							<source src="./assets/videos/mov_bbb.mp4" type="video/mp4">
							
						 </video>
                        </a> 
                    </div>
                    <div class="image-info">
                        <h5 class="title">Nunc eget hendrerit nisi sodales</h5>
                        <div class="pull-right">
                            <small>by</small> <a href="javascript:;">Andy Wong</a>
                        </div>
                        <div class="rating">
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                            <span class="star active"></span>
                        </div>
                        <div class="desc">
                            Ut et augue nisi sodales luctus libero dignissim sodales. Fusce feugiat nisi sodales sapien consequat lacinia fringilla.
                        </div>
                    </div>
                </div>               
                </div>
            </div>
			</div>
			<!--panel for recently added videos ends-->
			<!--Recently added videos ends-->
			<hr class="clearfix"/>
			
			
			<!--Recently added users-->
				<!-- begin row -->
			<div class="row">
			        <div class="col-md-6">
			        <!-- begin panel -->
                    <div class="panel panel-inverse clearfix" data-sortable-id="table-basic-5">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Recently Added Users</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Fullname</th>
                                        <th>Email Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky Almera</td>
                                        <td>nicky@hotmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Edmund Wong</td>
                                        <td>edmund@yahoo.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Harvinder Singh</td>
                                        <td>harvinder@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Terry Khoo</td>
                                        <td>terry@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
					
                    <!-- end panel -->
			        </div>
                    <!-- end col md 6-->
					
					    <div class="col-md-6">
			        <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="table-basic-5">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Recently Added Publishers</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Fullname</th>
                                        <th>Email Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nicky Almera</td>
                                        <td>nicky@hotmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Edmund Wong</td>
                                        <td>edmund@yahoo.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Harvinder Singh</td>
                                        <td>harvinder@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Terry Khoo</td>
                                        <td>terry@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
					
                    <!-- end panel -->
			        </div>
                    <!-- end col md 6-->
					
					
					
			    </div>
			    <!-- end row -->
			
			<!-- end row -->
			<!--Recently added users ends-->
		</div>
		<!-- end #content -->
