
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="admin_user_management.html" class="custom_color">User Management</a></li>
				<li class="active">Add User Details</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			
			<h1 class="page-header custom_color">ADD USER DETAILS <!-- <small>header small text goes here...</small> --></h1>
			<!-- end page-header -->
			<!-- begin table -->
         <hr/>
		<!--header ends-->
			<div class="panel panel-inverse" data-sortable-id="form-validation-2" ng-controller="AdminAddNewUserController" ng-init="user.userrole='User'">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                               
                            </div>
                            <h4 class="panel-title">Add User Details</h4>
                        </div>
                        <div class="panel-body panel-form">
                            <form class="form-horizontal form-bordered" data-parsley-validate="true" novalidate="" ng-submit="onAddNewUser()" role="form" name='form' method="post" >
								
							<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="FirstName">UserName* :</label>
									<div class="col-md-6 col-sm-6">
									   <input class="form-control " type="text" id="UserName" name="UserName" ng-model="user.username" data-type="alphanum" placeholder="FirstName" data-parsley-required="true" data-parsley-id="3526" autofocus><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul>
									</div>
						    </div>
							
							<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="Password">Password* :</label>
									<div class="col-md-6 col-sm-6">
										<input class="form-control " type="password" id="Password" name="Password" ng-model="user.password" data-type="alphanum" placeholder="Password" data-parsley-required="true" data-parsley-id="3526"><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul>
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="ConfirmPassword">Confim Password* :</label>
									<div class="col-md-6 col-sm-6">
										<input class="form-control " type="Password" id="ConfirmPassword" name="ConfirmPassword"  data-type="alphanum" placeholder="Confirm Password" data-parsley-required="true" data-parsley-id="3526"><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4" for="Email">Email* :</label>
									<div class="col-md-6 col-sm-6">
										<input class="form-control " type="email" id="Email" name="Email" ng-model="user.email" data-type="alphanum" placeholder="Email" data-parsley-required="true" data-parsley-id="3526" autofocus><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul>
									</div>
							   </div>	
							   
							   <div class="form-group">
								<label class="control-label col-md-4 col-sm-4" for="role">Role* :</label>
									<div class="col-md-6 col-sm-6">
										<select class="form-control" data-parsley-required="true" id="role" name="role" ng-model="user.role" >
										<option value="">Please Choose</option>
										<option value="OnSite">On Site</option>
										<option value="Editing Center">Editing Center</option>
										</select>
										<br/>
										<!-- <input class="form-control " type="text" id="EventCode" name="EventCode" data-type="alphanum" placeholder="Event Code" data-parsley-required="true" data-parsley-id="3526" ><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul> -->
										
										
									</div>
							   </div>
							   	<div class="form-group" id="EventCode">
									<label class="control-label col-md-4 col-sm-4" for="FirstName">Event Code* :</label>
									<div class="col-md-6 col-sm-6">
										<input class="form-control " type="text" id="EventCode" name="EventCode"  ng-model="user.eventcode"  data-type="alphanum" placeholder="Event Code" data-parsley-required="true" data-parsley-id="3526" ><ul class="parsley-errors-list filled" id="parsley-id-3526"><li class="parsley-required"></li></ul>
									</div>
						        </div>
							   
									<input class="form-control " type="hidden" id="UserRole" name="UserRole" value="{{userrole}}" ng-model="user.userrole">
								
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4"></label>
									<div class="col-md-6 col-sm-6">
										<button type="submit" class="btn btn-primary">Add</button>
											<a class="btn btn-danger" href="/user">Cancel</a>
                                            <div ng-show="error" class="alert alert-danger">{{error}}</div>
											
									</div>
								</div>
                            </form>
                        </div>
                    </div>
		</div>
		<!-- end #content -->
	