
	
	<!--
		
		<!-- begin #content -->
		<div id="content" class="content" ng-controller="OnChangePassword">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="dashboard.html">Home</a></li>
				<li class="active">Change Password</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			
			<h1 class="page-header custom_color">Change Password <!-- <small>header small text goes here...</small> --></h1>
			<!-- end page-header -->
			<!-- begin table -->
         <hr/>
		<!--header ends-->
			<div class="panel panel-inverse" data-sortable-id="form-stuff-3">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                
                            </div>
                            <h4 class="panel-title">Change Password</h4>
                        </div>
                            <div class="panel-body" ng-app="validationApp" ng-controller="mainController">
						
                            <form name="userForm" ng-submit="submitForm()" novalidate>
                                <fieldset>
                                    <legend>Password Details</legend>
                                   <!-- NAME -->
									<div class="form-group" ng-class="{ 'has-error' : userForm.oldpassword.$invalid && !userForm.oldpassword.$pristine }">
										<label>Old Password</label>
										<input type="password" name="oldpassword" class="form-control" ng-model="user.oldpassword" placeholder="Old Password" required>
										<p ng-show="userForm.oldpassword.$invalid && !userForm.oldpassword.$pristine" class="help-block">Old Password is required.</p>
									</div>
                                   <div class="form-group" ng-class="{ 'has-error' : userForm.newpassword.$invalid && !userForm.newpassword.$pristine }">
										<label>New Password</label>
										<input type="password" name="newpassword" class="form-control" ng-model="user.newpassword" placeholder="New Password" required>
										<p ng-show="userForm.newpassword.$invalid && !userForm.newpassword.$pristine" class="help-block">New Password is required.</p>
									</div>
									<div class="form-group" ng-class="{ 'has-error' : userForm.confirmpassword.$invalid && !userForm.confirmpassword.$pristine }">
										<label>Confirm Password</label>
										<input type="password" name="confirmpassword" class="form-control" ng-model="user.confirmpassword" placeholder="Confirm Password" required>
										<p ng-show="userForm.confirmpassword.$invalid && !userForm.confirmpassword.$pristine" class="help-block">Confirm Password is required.</p>
									</div>
                                    <button type="submit" class="btn btn-sm btn-primary m-r-5"  ng-disabled="userForm.$invalid">Change Password</button>
                                    <a type="submit" class="btn btn-danger"  onclick="document.location.href='dashboard.html';">Cancel</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
		</div>
		<!-- end #content -->
		
	