<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="info">
							ADMINISTRATOR
							<small></small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="has-sub"> 
						<a href="/user" class="active1">
						    <i class="fa fa-laptop"></i>
						    <span>Dashboard</span>
					    </a>
					</li>
					<li class="has-sub">
						<a href="/user">
							
							<i class="fa fa-user"></i> 
							<span>User Management</span>
						</a>					
					</li>
					<li class="has-sub">
						<li class="has-sub">
						<a href="/publisher">
						    <i class="fa fa-suitcase"></i>
						    <span>Publisher Management</span> 
						</a>
					</li>
					</li>
					<li class="has-sub">
						<a href="uploaded_video_View_details.html"><i class="fa fa-video-camera"></i>
						    <span>Uploaded Videos</span>
						</a>
					</li>
					
					<li class="has-sub">
					<a href="downloaded_video_View_details.html">
					<i class="fa fa-download"></i>
					<span>Downloaded Videos</span>
					</a>
					</li>
					
					<li class="has-sub">
						<a href="change_password.html">
						    <i class="fa fa-key"></i>
						    <span>Change Password</span> 
						</a>
						
					</li>
					</li>
			        <!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			        <!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>